@font-face{font-family: Bebas; src: url('font/BebasNeue.otf');}
@font-face{font-family: Quicksand; font-weight: normal; src: url('font/Quicksand/Quicksand_Book.otf');}
@font-face{font-family: Quicksand; font-weight: light;  src: url('font/Quicksand/Quicksand_Light.otf');}
*{
  margin:0px;
  padding:0px;
}
body{
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight:normal;
}

a{
  color:#4bafd4;
}

a:visited{
  color:#4bafd4;
}

/*************************
  HEADER
**************************/
header{
  height:30px;
  width:100%;
  background:rgb(40,40,40);
}

article{
  width:930px;
  margin:auto;
}

#visitCard{
	height:80px;
	margin:20px 0 20px 0;
}

#visitCard a{
	display:block;
	float:right;
	margin:0px 10px 0 10px;
	color:rgb(102,102, 102);
}

#visitCard a:hover{
	color:rgb(75,175, 212);
}

#visitCard img{
	display:block;
	margin:auto;
	height:40px;
}

#visitCard h1{
  float:left;
  margin:0px 40px 20px 0px;
  font-family:Bebas;
  font-size:3em;
  color:rgb(40,40,40);
}

#visitCard h3{
	display:block;
	font-size:1em;
	font-weight:normal;
	margin:auto;
	margin-top:5px;
	text-align:center;
	line-height:10px;
}

#visitCard .mail:hover{ color: rgb(212, 152, 75);}
#visitCard .twitter:hover{ color: rgb(75, 212, 143);}
#visitCard .linkedin:hover{ color: rgb(201, 212, 175);}
#visitCard .github:hover{ color: rgb(212, 75, 117);}

article .bar{
  float:right;
  height:15px;
  width:60%;
  margin-top:35px;
  background:rgb(40,40,40);
}

/*************************
  PROJECTS
**************************/
#projects, #labs{
  width:100%;
  color:#fff;
}

.column{
  float:left;
  max-width:300px;
  margin:0 10px 0 0px;
}

.column .project{
  position:relative;
  width:300px;
  margin:0px 0px 10px 0px;
  overflow:hidden;
}

.column img{
  display:block;
  position: absolute;
  top:0px;
  width:300px;
  z-index:0;
}

.column .rectangle{
  position:absolute;
  width:100%;
  z-index:1;
  background:#333;
  opacity: 0.9;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  -ms-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

.rectangle.small{
  bottom:-160px;
}

.rectangle.big{
  bottom:-370px;
}

.rectangle h3{
  display:block;
  color: #fff;
  line-height:18px;
  font-weight: normal;
  font-size: 18px;
  margin: 10px 5px 15px 8px ;
}

.rectangle p{
  font-size: 14px;
  font-weight: normal;
  margin: 0px 5px 0px 8px ;
}

#about{
  width: 300px;
  height: 200px;
  margin: 0 0 10px 0;
  font-size: 1em;
  color: rgb(0,0,0);
}

#about h2{
  border-bottom: 1px #000 solid;
  margin: 0 0 10px 0;
}

.small{
  height: 200px;
}

.big{
  height: 410px;
}

/*************************
  LABS
**************************/
#labs h2{
  font-family:Bebas;
  font-size:1.65em;
}

/*************************
  FOOTER
**************************/
footer {
  height:70px;
  width:100%;

  background:rgb(40,40,40);
  padding-top:20px;
  font-size:0.8em;
  color:#fff;
}

footer #credits{
	width:930px;
	margin:auto;
	text-align:center;
}
/*************************
  CLEARFIX
**************************/
.clearfix:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}

.clearfix {
	display: inline-block;
}
/*************************
  BOOTSTRAP
**************************/
.modal-body{
  color: #404040;
}
