
root { 
  display: block;
}

@media screen {

* { margin: 0; padding: 0; }
body { color: #000; font: 14px/1.4 'SourceSansPro-Regular', Helvetica, Arial, sans-serif; background-color: #333; }
.screen-reader-text { position: absolute; left: -9999px; top: -9999px; }
.clear { clear: both; }
.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .group, *:first-child+html .group { zoom: 1; } /* First selector = IE6, Second Selector = IE 7 */


#page-wrap { width: 726px; margin: 0 auto; }
#container-wrap { width: 1164px; margin: 0 auto 42px; }
#page-wrap-inner { width: 1164px; margin: 0 auto; border-bottom: 1px solid #CBCBCB; min-height: 330px; }

h1, h2, h3 { font-weight: normal; margin: 0 0 10px 0; color: #000 }
h1 { font-size:	40px }
h2 { font-size: 29px; font-weight: normal; padding-bottom: 2px }
h3 { }

p { margin: 0 0 10px 0; }
a { color: #000; text-decoration: none }
a:hover { } 

a, img {
  border:none;
}

blockquote { }
blockquote p { }

ul, ol { margin: 0 0 10px 0; }

pre { }
code, tt { }

form { }
input[type=text] { }
textarea { }

}

@font-face {
    font-family: 'SourceSansPro-Light';
    src: url('media/font/SourceSansPro-Light.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('media/font/SourceSansPro-Regular.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro-Semibold';
    src: url('media/font/SourceSansPro-Semibold.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}

#top_bg {
  /*background: url("media/images/patern_s1.png") repeat scroll 0 0 transparent;*/
	background-color: #333333;
	background-position: center top;
  height: 575px;
  width: 100%;
  margin-bottom: -14px;
}

#top_team {
  background-color: #f2f2f2;
  height: 320px;
  width: 100%;
  margin-bottom: -14px;
}

#delimiter1 {
  background: url("media/images/delimitation_s1_s2.png") repeat-x scroll 37px 0 transparent;
	background-position: center top;
  height: 20px;
  margin-top: -10px;
  width: 100%;
}

#middle_bg {
  background: none scroll 0 0 #333333;
  height: 968px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#middle_bg_contact {
  background: none scroll 0 0 #333333;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#delimiter2 {
  background: url("media/images/delimitation_s4_s5.png") repeat-x scroll 0 0 transparent;
  background-position: center top;
  height: 40px;
  margin-top: -20px;
  width: 100%;
}

#sandbox {
  background: url("media/images/patern_footer_part3.png") repeat scroll 0 0 #333333;
  background-position: center top;
  height: 497px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#social_medias {
  background: none scroll 0 0 #7D7D7D;
  height: 102px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#footer {
  background: url("media/images/patern_footer_part2.png") repeat scroll 0 0 transparent;
  background-position: center top;
  height: 100px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#top_menu_area {
  background: rgba(242, 242, 242, 0.93);
  height: 72px;
  width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.underline{
	border-bottom: 2px solid #89d1a7;
	vertical-align: 0.09em;
	line-height: 0.2em;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.offleft a{
  text-indent: -9000px;
  display: block;
  height: 36px;
  width: 180px;
  overflow: hidden;
  font-size: 1em;
 }

#logo {
  background: url("media/images/header_logo.png") no-repeat scroll 0 0 transparent;
  float: left;
  margin: 15px 0 0;
  height: 36px;
  width: 180px;
}

#top_menu {
  float: right;
  height: 20px;
  margin: 21px 1px 0 0;
  width: 700px;
}

#top_menu ul {
  list-style: none;
}

#top_menu li {
  display: inline;
  float: right;
  font-family: "SourceSansPro-Light", Arial, sans-serif;
  font-size: 18px;
  padding: 0 0 0 35px;
    
}

#top_menu li a {
  color: #333333;
}

#web-browser-wraper {
  position: relative;
}

#web-browser {
  background: url("media/images/web-browser.png") no-repeat scroll 0 0 transparent;
  bottom: -117px;
  height: 406px;
  position: absolute;
  width: 960px;
}

#wb_text_area {
  height: 150px;
  margin: 101px auto 0;
  width: 650px;
}

#team_text_area {
  height: 150px;
  margin: 0 auto 0;
	padding-top: 70px;
  width: 780px;
}

#wb_text_area h2 {
  color: #333333;
  font-size: 43px;
  font-family: "SourceSansPro-Semibold", Arial, sans-serif;
  letter-spacing: 0px;
  margin: 0;
  text-align: center;
}

#wb_text_area p {
  color: #333333;
  font-size: 24px;
  font-family: "SourceSansPro-Regular", Arial, sans-serif;
  letter-spacing: 0px;
  margin: 0 0 0px;
  text-align: center;
}

#team_text_area h2 {
  color: #333333;
  font-size: 43px;
  font-family: "SourceSansPro-Semibold", Arial, sans-serif;
  letter-spacing: 0px;
  margin: 0;
  text-align: center;
}

#team_text_area p {
  color: #333333;
  font-size: 24px;
  font-family: "SourceSansPro-Regular", Arial, sans-serif;
  letter-spacing: 0px;
  margin: 0 0 0px;
  text-align: center;
}

#story_line {
  height: 250px;
	padding-left: 10px;
	margin: auto;
	padding-top: 50px;
  width: 860px;
	color:#cccccc;
	font-size: 24px;
	font-family: "SourceSansPro-Regular", Arial, sans-serif;
	line-height: 100%;
}

.container h2{
  color: #cccccc;
  font-size: 32px;
  font-family: "SourceSansPro-Semibold", Arial, sans-serif;
  letter-spacing: 0px;
}

.container img{
	margin-right: 20px;
	float: left;
}

.howto_items{
	margin-top: 100px;
	height: 350px;
}

#stroy_line a{
	color:#cccccc;
	font-weight: underline;
}

#team_line {
  height: 200px;
  padding-top: 44px;
	margin: 0 auto;
  width: 860px;
	color:#cccccc;
	font-size: 24px;
	font-family: "SourceSansPro-Regular", Arial, sans-serif;
	line-height: 100%;
}

#team_list{
	width: 880px;
	margin: 65px auto;
	font-family: "SourceSansPro-Regular", Arial, sans-serif;
}

#team_list h2{
	font-family: "SourceSansPro-Semibold", Arial, sans-serif;
	font-size: 38px;
	color: #cccccc;
	text-align: center;
}

#team_list h3{
	font-size: 24px;
	color:#cccccc;
	margin: 0;
}

#team_list h4{
	font-size: 14px;
	color:#cccccc;
	font-weight: normal;
}

#team_list p{
	margin: 19px 0 8px 0;
	color: #cccccc;
	font-size: 15px;
}

#wb_register {
  height: 61px;
  margin: 56px auto 0;
  width: 496px;
}

a.download_btnCWS {
  background: url("media/images/CWS_button.png") no-repeat scroll 0 0 transparent;
  display: block;
  height:69px;
  width:248px;
  cursor: pointer;
}

a.download_btnCWS:active {
  background-position: 0 -68px;
}

a.download_btnON {
  background: url("media/images/ON_button.png") no-repeat scroll 0 0 transparent;
  display: block;
  height:69px;
  width:248px;
  cursor: pointer;
}

a.download_btnON:active {
  background-position: 0 -68px;
}

#register_text p {
  color: #cccccc;
  font-family: "SourceSansPro-Regular", Arial, sans-serif;
  font-weight: normal;
  text-align: left;
  font-size: 19px;
}

#gray_line_wraper {
  height: 184px;
}

#gray_line_wraper2 {
  height: 90px;
}

#features1 {
  height: 295px;
  width: 100%
}

#feature_title {
  font-family: "SourceSansPro-Semibold", Arial, sans-serif;
  font-size: 25px;
}

#features2 {
  height: 258px;
  width: 100%
}

#try_yourself {
  padding-top: 16px;
}

#shared_text {
  color: #CCCCCC;
  font-family: "SourceSansPro-Regular",Arial,sans-serif;
  font-size: 35px;
  text-align: center;
}


.story_sticker {
  height: 212px;
  width: 212px;
}

#download2 {
  height: 62px;
  padding: 40px 0 0;
}

#download_btn2 {
  margin: 0 auto;
}

#bottom_logo {
  background: url("media/images/footer_logo.png") no-repeat scroll 0 0 transparent;
  float: left;
  height: 36px;
  margin: 31px 0 0;
  width: 180px;  
}

#sharelinks {
    display: block;
    float: right;
    height: 20px;
    padding-top: 40px;
    width: 420px;
		position: relative;
		left: 17px;
}

.fb-like {
    display: inline;
    float: right;
    margin-right: 28px;
}

#twitter-button {
    display: inline;
    float: right;
}

#gplusone {
    display: inline;
    float: right;
}

#angellist-button {
    display: inline;
    float: right;;
}

#bottom_menu {
  float: left;
  height: 20px;
  margin: 20px 0 21px;
}

#bottom_menu ul {
  list-style: none;
}

#bottom_menu li {
  display: inline;
  float: left;
  font-family: "SourceSansPro-Semibold", Arial, sans-serif;
  font-size: 18px;
  padding: 0 0 0 160px;
    
}

#bottom_menu li:first-child {
  padding-left: 0;
}

#bottom_menu li a {
  color: #F2F2F2;
}

#copyright {
  color: #F2F2F2;
  font-size: 17px;
  font-family: "SourceSansPro-Regular", Arial, sans-serif;
  padding-top: 18px;
  text-align: center;
}

#copyright a {
  color: #F2F2F2;
}

.ui-widget-overlay { 
  background: #000000; 
  opacity: .90;
  filter:Alpha(Opacity=80);
  position: absolute;
  top: 0;
  left: 0;
}

.ui-widget{
  position: absolute;
}

.ui-dialog { display: none; }

.ui-dialog {
        background: rgb(242,242,242);
        font: 11px SourceSansPro-Regular, arial, sans-serif;
        color: #333333;
}
.ui-dialog .ui-dialog-titlebar  {
        font-size: 30px;
        text-align: center;
}

.ui-dialog-titlebar-close{
	position: absolute;
	left: 456px;
	font-size: 17px;
}

.ui-dialog h4,
.ui-dialog div {
        padding:8px 0 12px 10px;
}
.ui-dialog h4 {
        font-size: 18px;
        margin: 0;
}
.ui-dialog input {
        width:97%;
        height: 30px;
        font: 20px SourceSansPro-Regular, arial, sans-serif;
        font-weight: italic;
        display: block;
}

.ui-dialog button {
        width:100%;
        height: 40px;
        font: 20px SourceSansPro-Light, arial, sans-serif;
				background-color: #5bab7d;
				color: #ffffff;
				cursor: pointer;
				border: 0;
}

.triangle-right
{
    float:left;
    width:0px;
    height:0px;
		border-top: 13px solid transparent;
		border-bottom: 13px solid transparent;
		border-left: 24px solid #f2f2f2;
		margin-bottom: -14px;
		-webkit-transform:rotate(360deg); 
		transition: all 0.2s ease 0s;
}

.triangle-left
{
    float:left;
    width:0px;
    height:0px;
		border-top: 13px solid transparent;
		border-bottom: 13px solid transparent;
		border-right: 24px solid #f2f2f2;
		margin-bottom: -14px;
		-webkit-transform:rotate(360deg);
		transition: all 0.2s ease 0s;
}

.triangle-right-0fab9a
{
		border-left: 24px solid #0fab9a;

}
.triangle-left-0fab9a
{
		border-right: 24px solid #0fab9a;

}

.triangle-right-0b9b96
{
		border-left: 24px solid #0b9b96;

}
.triangle-left-0b9b96
{
		border-right: 24px solid #0b9b96;

}

.triangle-right-0f8692
{
		border-left: 24px solid #0f8692;

}
.triangle-left-0f8692
{
		border-right: 24px solid #0f8692;

}

.triangle-right-13688c
{
		border-left: 24px solid #13688c;

}
.triangle-left-13688c
{
		border-right: 24px solid #13688c;

}

#triangle_container{
	position: absolute;
	width:100%;
	top: 0;
	left: 0;
	overflow: hidden;
	background-color: #333333;
	z-index: 0;
}

#triangle{
	margin-top: -12px;
	overflow: hidden;
	height: 650px;
}