
root { 
  display: block;
}

@media screen {

* { margin: 0; padding: 0; }
body { color: #000; background-color: #f2f2f2; }
.screen-reader-text { position: absolute; left: -9999px; top: -9999px; }
.clear { clear: both; }
.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .group, *:first-child+html .group { zoom: 1; } /* First selector = IE6, Second Selector = IE 7 */


#page-wrap { width: 726px; margin: 0 auto; }
#container-wrap { width: 1164px; margin: 0 auto 42px; }
#page-wrap-inner { width: 1164px; margin: 0 auto; border-bottom: 1px solid #CBCBCB; min-height: 330px; }

h1, h2, h3 { font-weight: normal; margin: 0 0 10px 0; color: #000 }
h1 { font-size:	40px }
h2 { font-size: 29px; font-weight: normal; padding-bottom: 2px }
h3 { }

p { margin: 0 0 10px 0; }
a { color: #000; text-decoration: none }
a:hover { } 

a, img {
  border:none;
}

blockquote { }
blockquote p { }

pre { }
code, tt { }

form { }
input[type=text] { }
textarea { }

}

#top_menu_area {
  background: rgba(242, 242, 242, 0.93);
  height: 72px;
  width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.underline{
	border-bottom: 2px solid #89d1a7;
	vertical-align: 0.09em;
	line-height: 0.2em;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.legal_container {
  margin: 100px auto;
	padding: 25px 25px 25px 25px;
  width: 900px;
	border: solid 1px #ccc;
	height: 500px;
	background-color: white;
	overflow: scroll;
	font-family: "Times New Roman", Georgia, Serif;
	text-align: justify;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.legal_container ul,.legal_container ol { margin: 0 0 0 20px; }
.legal_container li { margin: 10px 0 10px 0;}

.offleft a{
  text-indent: -9000px;
  display: block;
  height: 36px;
  width: 180px;
  overflow: hidden;
  font-size: 1em;
}

#logo {
  background: url("media/images/header_logo.png") no-repeat scroll 0 0 transparent;
  float: left;
  margin: 15px 0 0;
  height: 36px;
  width: 180px;
}

#top_menu {
  float: right;
  height: 20px;
  margin: 21px 1px 0 0;
  width: 700px;
}

#top_menu ul {
  list-style: none;
}

#top_menu li {
  display: inline;
  float: right;
  font-family: "SourceSansPro-Light", Arial, sans-serif;
  font-size: 18px;
  padding: 0 0 0 35px;
    
}

#top_menu li a {
  color: #333333;
}